<!DOCTYPE html>
<html>
  <head>
    <title>MomosBuddies</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

<body class="min-h-screen flex flex-col bg-blue-90 text-gray-800 font-sans transition-all duration-300">
  <%= render 'layouts/header' %>

    <main class="relative flex-grow pt-28 px-4 pb-20 w-full max-w-7xl mx-auto animate-fade-in-up bg-[#F1F3FE]">
      <%= yield %>
    </main>

    <%= render  "layouts/footer"%>
  </body>
</html>
  